# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Virtual Environment
venv/

# VS Code
.vscode/

# JetBrains
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Environment
.env